Source: ros-rolling-ros-gz
Section: misc
Priority: optional
Maintainer: Aditya Pande <adityapande@intrinsic.ai>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-ros-gz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-ros-gz-bridge, ros-rolling-ros-gz-image, ros-rolling-ros-gz-sim, ros-rolling-ros-gz-sim-demos, ros-rolling-ros-workspace
Description: Meta-package containing interfaces for using ROS 2 with Gazebo simulation.
